@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+RO:wght@100..400&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.packages-wrapper {
    width: 95%;
    max-width: 1100px;
    margin: auto;
  }
  
  .packages-swiper {
    border-radius: 10px;
    padding: 3px 10px;
  }
  
  .package-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .package-slide img {
    width: 90%;
    max-width: 500px;
  }
  .section-heading {
    text-align: center;
    font-size: 2.5rem;
    color: #1e1e1e;
    margin-bottom: 30px;
    position: relative;
    font-weight: 700;
    font-family: Poetsen One   ;
  }
  
  .section-heading::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: #007bff;
    margin: 10px auto 0;
    border-radius: 2px;
  }
  